<% cache(:action => 'index', :action_suffix => 'authenticate') do %>
  <div class='right'>
    <% if session[:authenticated] == true %>
      <%= link_to 'Unauthenticate', temp_unauthenticate_articles_path %>
    <% else %>
      <%= link_to 'Authenticate', temp_authenticate_articles_path %>
    <% end %>
  </div>
<% end %>
<%= link_to 'Action Caching Example', paginated_articles_path %>
<div id='articleContainer'>
  <% @articles.each do |article| %>
    <div class='article'>
      <span class='title'><%= article.title %></span>
      <p><%= raw article.body %></p>
      <span class='author'><%= article.author %></span>
    </div>
    <hr/>
  <% end %>
</div>
<span id='loadMore'><%= link_to 'Load more', '#', :remote => true %></span> | 
<%= link_to 'New Article', new_article_path %>

<br/>

<% cache(:action => 'index', :action_suffix => 'featured') do %>
  <% @featured_article = Article.last %>
  <h3>Fragment Caching Example</h3>
  <h4>Featured Article : Displaying Latest Article</h4>
  <span class='title'><%= @featured_article.title %></span>
  <p><%= raw @featured_article.body %></p>
  <span class='author'><%= @featured_article.author %></span>
<% end %>