<div id='articleContainer'>
  <% @articles.each do |article| %>
    <div class='article'>
      <span class='title'><%= article.title %></span>
      <p><%= raw article.body %></p>
      <span class='author'><%= article.author %></span>
    </div>
    <hr/>
  <% end %>
</div>
<span id='loadMore'><%= link_to 'Load more', '#', :remote => true %></span> | 
<%= link_to 'New Article', new_article_path %>